# Ignore virtual environment folder
phishing_env/
venv/
env/
.phishing_env/
.venv/
.env/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
# Ignore installed packages folders if inside project (sometimes)
transformers/
datasets/
torch/
sentence-transformers/
scikit-learn/
pandas/
# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore data files or other big files (optional)
*.csv
*.pkl
*.h5
*.zip
